{% block content %}
    {{ _self}} content

{% set _controller = '@survos/datatables-bundle/datatables' %}
<div
        {{ stimulus_controller(_controller) }}
>
    <div         {{ stimulus_target(_controller, 'modal') }}>Modal</div>

    <table class="table" {{ stimulus_target(_controller, 'table') }}>
        <thead>
        <tr>
            {% for c in columns %}
                <th>{{ c }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for c in columns %}
<td>


    {% if block(c) is defined %}
        {% with {row: row} %}
        {{ block(c) }}
        {% endwith %}
        {% else %}
            {{ attribute(row, c) }}
    {% endif %}
{#                    {% set _block = block(c)|default(false) %}#}
{#                    {% if _block is not empty %}#}
{#                        {{ _block|raw }}#}
{#                    {% else %}#}
{#                        {{ attribute(row, c) }}#}
{#                    {% endif %}#}

                {% endfor %}
</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
    {% endblock %}
