{# templates/components/datatable.html.twig #}

{% set columns = this.normalizedColumns %}
{{ dump(columns) }}
{% set templates = [] %}
    {% for code, c in columns %}
<h3>{{ code }}</h3>
{% endfor %}
{#    {% if block(c.name) is defined %}#}
{#        {% set templates[c.name] = block(c.name) %}#}
{#        {% with {row: row} %}#}
{#            {{ block(c.name) }}#}
{#        {% endwith %}#}
{#    {% else %}#}
{#        {{ attribute(row, c.name)|default() }}#}
{#    {% endif %}#}


<div {{ stimulus_controller(this.stimulusController, {
        class: class,
        sortableFields: sortable_fields(class),
        api_call:  api_route(class),
        columnConfiguration: columns|json_encode,
        filter: {marking: marking|default(false)}
    }) }}>

        {{
        api_route(class)
        }}

        filter: filter,


<table class="table" {{ stimulus_target(this.stimulusController, 'table') }}></table>
        {#                    {% else %} #}
        {#                        {{ attribute(row, c) }} #}
        {#                    {% endif %} #}

    </div>

